<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager_WPF_DB.Properties.Settings.ZooDBConnectionString"
            connectionString="Data Source=LAPTOP-MNT3M719\SQLEXPRESS;Initial Catalog=ZooDB;Persist Security Info=True;User ID=sa;Password=17Coding2022#;Pooling=False;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>